<nav style="background-color: <%= config.bgColor %>">
  <a class="logo" href="/">CLUB Club</a>
  <div class="control">
    <div class="info">
      <span>Hi,&nbsp;</span>
      <a class="name" style="color: <%= config.color %>" href="/profile">
        <%= username %>
      </a>
    </div>
    <a id="logout" href="/logout">Logout</a>
  </div>
</nav>
